body {
    background-color: none;
    font-size: 100%;
    background-image: url("camo.gif");
    background-position: 80% 20%;    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 300px 300px;;
}

img {
  margin-left: 20px;
}

iframe {
  margin-left: 20px;
}
h1 {
    color: black;
    font-family: "Questrial", Arial, sans-serif; 
    font-size:2.5em;
    margin-left: 20px;
}

h2 {
    color: black;
    font-family: "Questrial", Arial, sans-serif; 
    font-size:1.875em;
    margin-left: 20px;
}

h3 {
    color: black;
    font-family: "Questrial", Arial, serif; 
    font-size:0.875em;
    margin-left: 20px;
}

p {
    color: black;
    font-family: "Cutive Mono", Arial, sans-serif; 
    font-size:0.875em;
    margin-left: 20px;
}

/* unvisited link */
a:link {
    color: grey;
}

/* visited link */
a:visited {
    color: grey;
}

/* mouse over link */
a:hover {
    color: hotpink;
}